.HeaderNavTime {

    /*Display*/
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    /*Position*/
    margin-top: 5px;

    /*Dimensions*/
    padding: 5, 10;
    border: 1 px solid black;
}

.HeaderNavTime h1 {
    font-size: 18px;
    color: rgba(62, 63, 64, 1);
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    line-height: 2em;
    font-weight: 700;
    padding: 5px 0;
}