.SideNav {

    /*Display Settings*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /*Positioning*/
    position: fixed;
    z-index: 10;
    margin-left: 10px;
    margin-top: 65px;

    /*Dimensions*/
    max-width: 200px;
    min-width: 200px;
    min-height: 450px;
    max-height: 450px;

    /*Styling*/
    border-radius: 25px;
    border: 5px solid rgba(78, 110, 97, 1);
    overflow: auto;
    background-color: white;
}

.aottoh {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin-top: 50px;
}
/*
.aottoh h2 {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    transition: 0.75d;
}

.aottoh h2:hover {
    color: black;
    transition: 0.75s;
}

.aottoh img {
    width: 25px;
    height: auto;
}*/

/*
<br />
            <div className="aottoh">
                <img type="image/svg" src={iconGithub} />
                <h2>AottoH</h2>
            </div>
*/