.ProjectFinancials {
    margin-top: 10px;
}

.ProjectFinancials td{
    font-size: 14px;
    padding: 5px;
    padding-right: 10px;
}

.table-total {
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
}

.td-financials {
    text-align: right;
}

.td-finminor {
    color: rgba(0,0,0,0.75);
}

.ProjectFinancials table {
    margin-top: 10px;
}