.SideNavItem {

    /*Positioning*/
    margin: 15px 0;

    /*Dimensions*/
    width: 100%;
    padding: 15px 0;

    /*Styling*/
    color: rgba(78, 110, 97, 1);
    border-radius: 15px;

    /*Typography*/
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.05em;

}

.SideNavItem:hover {
    color: white;
    background-color: rgba(78, 110, 97, 0.8);
    cursor: pointer;
    transition: 0.75s;
}