.App {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  overflow: auto;
}

.infocard {

  /*Display Settings*/
    flex-flow: column;
    justify-content: flex-start;

    /*Positioning*/
    margin-top: 5px;
    margin-bottom: 5px;

    /*Dimensions*/
    padding: 5px 10px;

    /*Styling*/
    background-color: rgba(97, 95, 94, 0.1);
    border-radius: 15px;

    /*Typography*/

    
    /*Effects*/
    transition: 1s;
}

.infocard:hover {

  /*Styling*/
  background-color: rgba(97, 95, 94, 0.27);

  /*Effects*/
  transition: 1s;
}


.infocard h1 {

  /*Display*/
  display: flex;

  /*Position*/
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 10px;

  /*Typography*/
  color: rgba(97, 95, 94, 1);
  font-weight: 700;
  font-size: 20px;
}

.infocard h2 {

  /*Display*/
  display: flex;
  
  /*Position*/
  margin-top: 5px;
  margin-bottom: 2px;

  /*Typography*/
  color: rgba(97, 95, 94, 1);
  font-weight: 700;
  font-size: 14px;
}

.infocard p {

  /*Typography*/
  font-size: 14px;
  letter-spacing: 0.025em;
  word-spacing: 0.01;
  line-height: 1.5em;
  font-weight: 100;
  text-align: left;
  padding: 5px 10px;
}

.infocard ul {
  /*Typography*/
  font-size: 14px;
  letter-spacing: 0.025em;
  word-spacing: 0.01;
  line-height: 1.5em;
  font-weight: 100;
  text-align: left;
}

.infoheader {

  /*Display Settings*/
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}


.infoheader img {
  display: flex;
  width: 36px;

  /*Dimensions*/
  height: auto;
  
}

table {
  padding-left: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.35);
  height: 30px;
  width: 100%;

  /*Position*/
  margin-top: 10px;
  margin-bottom: 10px;

  /*Styling*/
  
}

td {

  /*Dimensions*/
  padding: 3px 0;

  /*Typography*/
  font-size: 12px;

}

tr {
  /*Dimensions*/
  padding: 3px 0;
  
}

thead {
  
  font-weight: 700;
}
